<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lyq.project.dao.CarGatherMapper" >
  <resultMap id="BaseResultMap" type="com.lyq.project.pojo.CarGather" >
    <constructor >
      <arg column="id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="car_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="unit_id" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.lyq.project.pojo.CarGather" >
    insert into car_gather (id, car_id, unit_id
      )
    values (#{id,jdbcType=VARCHAR}, #{carId,jdbcType=VARCHAR}, #{unitId,jdbcType=VARCHAR}
      )
  </insert>
  <delete id="deleteByCarId" parameterType="string">
    delete from car_gather
    where car_id = #{id}
  </delete>
  <insert id="insertSelective" parameterType="com.lyq.project.pojo.CarGather" >
    insert into car_gather
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="carId != null" >
        car_id,
      </if>
      <if test="unitId != null" >
        unit_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="carId != null" >
        #{carId,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null" >
        #{unitId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>