<div id="md_ChangePwd" class="modal-dialog modal-lg modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4>修改密码</h4>
        </div>
        <div class="modal-body form">
            <form action="#" id="frmChangePwd" class="form-horizontal form-bordered form-row-stripped">
                <div class="row" style="margin-right: 0px;">
                    <div class="col-xs-12">
                        <div class="form-group-group">
                            <div class="form-group">
                                <label class="control-label  col-xs-4">
                                    请输入旧密码<span class="required">*</span>
                                </label>
                                <div class="col-xs-8">
                                    <input id="OldPassword" name="OldPassword" type="password" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label  col-xs-4">
                                    请输入新密码<span class="required">*</span>
                                </label>
                                <div class="col-xs-8">
                                    <input id="NewPassword" name="NewPassword" type="password" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label  col-xs-4">
                                    请再次输入新密码<span class="required">*</span>
                                </label>
                                <div class="col-xs-8">
                                    <input id="ReNewPassword" name="ReNewPassword" type="password" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" id="btnSave" class="btn c-green">保存</button>
            <button type="button" id="btnClose" data-dismiss="modal" class="btn btn-primary">关闭</button>
        </div>
    </div>
</div>