<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link href="/Modules/Component/site.css" rel="stylesheet" />
    <style>
        html, body {
            background-color: transparent !important;
        }
    </style>

</head>
<body>
    <div style="background-color: transparent">
    </div>
    <script src="/Modules/Component/require.js"></script>
    <script type="text/javascript">
        require(['/Modules/Config/conwin.main.js'], function () {
            require(['jquery', 'system', 'helper', 'userinfo', 'changepwd'], function ($, SystemConfig, helper, userinfo, changepwd) {
                changepwd.ShowChangePwd();
            });
        });

    </script>
</body>
</html>